html {
	scroll-behavior: smooth; /*Scroll doucement vers la section demander*/
}
body {
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
p{
	font-weight: 550;
}


/*Nav Bar*/

.nav {
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	height: 60px;
}

.nav-btn {
	display: none;
}

.nav-links {
	font-size: 18px;
	margin-right: 2%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.nav-links .menu-link {
	padding: 14px;
	position: relative;
	display: block;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	
}

.nav-links .active {
	border-top: 2px solid #0065FC;
}
.nav-links .disable:hover, .active:hover{
	animation: slide 0.4s linear forwards;

}
@keyframes slide{
	0%{
		border-top: 2px solid #0065FC;
	}

	100%{
		border-top: 2px solid #0065FC;
		color: #0065FC;
	}
}
.nav-links .disable:hover ~ .active{
	border: none;
}

/*search*/

.search {
	padding: 35px 35px 0px 35px; 
}


.search .search-form input[type=text] {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 0 24px;
	box-sizing: border-box;
	width: 250px;
	height: 50px;
	font-size: 17px;
	font-weight: bold;
	font-family: "Raleway", "Sans serif";
}

input:focus {
	outline: none;
}

.search .search-form .btn-submit {
	position: relative;
	background-color: #0065FC;
	height: 50px;
	color: white;
	border: none;
	font-size: 17px;
	border-radius: 0px 15px 15px 0px;
}

.search-filter-items .fa {
	color: #0065FC;
}

.fa-circle {
	color: #DEEBFF !important;
}

.fa-info {
	color: #0065FC;
}

.search .search-form .btn-submit:hover {
	opacity: 0.8;
	cursor: pointer;
	transition: 0.4s;
	box-shadow: 1px 2px 4px gray;
}

.search .search-filter {
	display: flex;
	margin-top: 25px;
	flex-wrap: wrap;
}

.search-filter-title {
	margin: 0 25px 4px 0;
	display: flex;
	align-items: center;
}

.search-filter-items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.filter-icon {
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	min-height: 100%;
	min-width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -8px;
}

.filter-title {
	padding: 0px 10px 0px 10px;
}

.btn-location {
	position: relative;
	background-color: #F2F2F2;
	padding: 14px 20px;
	border-radius: 18px 0px 0px 18px;
	border: none;
	text-align: center;
	font-size: 18px;
	height: 50px;
}

.btn-location-icon {
	margin-left: 2px;
}

.search-filter-items button {
	display: flex;
	align-items: center;
	margin-right: 20px;
	border: 2px solid #d9d9d9;
	border-radius: 40px;
	cursor: pointer;
	transition-duration: 0.1s;
	font-weight: bold;
	background-color: white;
	height: 50px;
	min-width: 150px;
}

.search-filter-items button:last-child {
	margin-right: 0;
}

.search-filter-items button:hover {
	transition-duration: 0.4s;
	color: #0065FC;
	border: 2px solid #b9d0f1;
}


.search-filter-items button .filter-icon {
	transition-duration: 0.4s;
}

.search-filter-items button:hover .filter-icon {
	border-radius: 13px 13px 13px 13px;
	transform: scale(1.08);
	transform: rotate(340deg);
	transition-duration: 0.3s;
	background-color: #0065FC;
	color: #fff;
	height: 55px;
	box-shadow: 1px 2px 4px gray;
}

.search .search-form .btn-phone {
	visibility: hidden;
}


/*Card section - Englobe la section hébergement et la section populaire*/

.card-section {
	display: flex;
	justify-content: center;
	gap: 2%; 
}

/*Section hébergement*/

.card-section-hebergement {
	background-color: #F2F2F2;  /*light-gray*/
	border-radius: 18px;
	flex-basis: 65%;
}
.flex-card {
	display: flex;
	flex-wrap: wrap;
}
.card-section-link {
	display: flex;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 30px;
	font-weight: 900;
	font-size: 18px;
}

.card {
	flex-basis: 24.6%;
	flex-grow: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 5px;
	border-radius: 25px;
	background-color: white;
	overflow: hidden;
	padding: 7px 7px;
	height: 250px;
	max-height: 250px; 
	position: relative;
}

.card img {
	width: 100%;
	height: 60%;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	transition: 0.4s;
}
.card-container p{
	margin: 0;
	margin-top: 3px;
}

.card h3{
	margin: 0;
	line-height: 1.4;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	-ms-transform: scale(1.04);
	/* IE 9 */
	-webkit-transform: scale(1.04);
	/* Safari 3-8 */
	transform: scale(1.04);
	color: #0065FC;
}

.card:hover img {
	transition: 0.4s;
	border-radius: 20px;
	height: 200px;
}

.card-container {
	padding-left: 25px;
	line-height: 0.8;

}
.card-grade{
	position: absolute;
	bottom: 10px;
}
.card:hover .card-container {
	line-height: 0.8;

}

.card:hover p {
	display: none;
}

.card:hover .card-grade .checked {
	color: rgb(202, 202, 37);
}

.ribbon {
	display: none;
}

.card:hover .ribbon {
	display: block;
	position: absolute;
	right: -8px;
	top: -8px;
	z-index: 1;
	overflow: hidden;
	width: 85px;
	height: 75px;
	text-align: center;
}

.ribbon span {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	background: #0065FC;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px;
	right: -21px;
}


/*Section populaire*/

.card-section-pop {  
	background-color: #F2F2F2;
	border-radius: 18px;
	flex-basis: 30%;
}
.card-section-pop-title {
	display: flex;
	justify-content: space-between; 
	padding: 20px;
}

.card-pop {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 25px;
	background-color: white;
	flex-grow: 1;
	margin: auto;
	margin-bottom: 15px;
	width: 100%;
	height: 160px;
	max-width: 85%;
	overflow: hidden;
	padding: 7px 7px;
}

.card-pop img {
	height: 160px;
	width: 40%;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
	transition: 0.4s;
}

.card-pop:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	-ms-transform: scale(1.04);
	/* IE 9 */
	-webkit-transform: scale(1.04);
	/* Safari 3-8 */
	transform: scale(1.04);
	color: #0065FC;
}

.card-pop:hover img {
	transition: 0.4s;
	border-radius: 20px;
}
.card-pop:hover .checked{
	color: rgb(202, 202, 37);
}

.card-container-pop {
	line-height: 1.4;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-container-pop h3{
	margin-top: 0px;
}
.card-container-pop p{
	margin: 0px;
}

.fa-star {
	color: rgb(204, 202, 202);
}

.checked {
	color: #0065FC;
}

/*Activiter*/

.activ-section {
	padding-top: 10px;
	max-height: 800px;
	height: 800px;
}

.flex-card-activ {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 700px;
	align-items: center;
	align-content: center;
}

.card-section-title {
	display: flex;
	padding: 25px 25px 0px 25px;
}

.activ-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 20px;
	border-radius: 18px;
	background-color: white;
	overflow: hidden;
	max-width: 22%;
	max-height: 700px;
	height: 640px;
}

.activ-card img {
	max-width: 100%;
	width: 100%;
	height: 89%;
	object-fit: cover;
}
.medium{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 18px;
	background-color: white;
	height: 340px;
	width: 22%;
	overflow: hidden;
}
.medium img {
	height: 78.5%;
}
/* .flex-card-activ .activ-card:nth-child(2n+2) */
.small {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 18px;
	background-color: white;
	height: 260px;
	width: 22%;
	overflow: hidden;
}

.small img {
	height: 73.3%;
}

.activ-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

	animation: myanimation 0.5s forwards;
}
@keyframes myanimation {
	50%{
		transform: scale(1.05);
	}
	100%{
		transform: scale(1);
	}
}

.activ-card-container {
	padding-left: 15px;
	display: flex;
	align-items: center;
}

.activ-section-title {
	margin-left: 30px;
}


/*Footer*/

.footer {
	background-color: #F2F2F2;
	bottom: 0px;
	left: 0px;
	width: 100%!important;
}

.footer-flex {
	display: flex;
	flex-wrap: wrap;
}

.footer-nav section {
	width: 20%;
	margin-left: 5%;
}

.footer-nav h1 {
	font-size: 17px;
}

.footer ul {
	padding: 0;
}

.footer-nav a {
	text-decoration: none;
}

.footer-nav a:hover {
	color: #0065FC;
}

.footer-list li {
	list-style: none;
	line-height: 1.6;
}