@media only screen and (max-width: 992px) {
	.search .search-form .btn-phone {
		display: none;
	}

	.search-filter-items button{
		margin-top: 10px;
	}
	.card-section {
		flex-direction: column-reverse;
	}

	.card-section-bg {
		width: 100%;
		background-color: #ffff;
	}
	.card-section-pop {
		width: 100%;
		height: 100%;
		margin-left: 0px;
		padding-bottom: 4%;
		background-color: #F2F2F2;
	}

	.card-pop {
		height: 90%;
		display: flex;
		flex-direction: row;
	}
	.card {
		width: 40%;
	}

	.card-container-pop {
		margin-bottom: 5px;
		padding: 10px 10px 0px;
	}

	.flex-card-pop {
		align-items: center;
	}
	.card-section-link{
		justify-content: center;
		margin: 0;
		margin-top: 10px;
	}
.activ-section {
	padding-top: 10px;
	max-height: 1000px;
	height: 1000px;
}
	.flex-card-activ {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		height: 900px;
		max-height: 900px;
	}
	.activ-card {
		width: 100%;
		margin-bottom: 30px;
		flex-grow: 1;
		height: 30%;
		flex-basis: 40%;
		max-width: 45%;
	}
	.activ-card img {
		height: 70%;
	}
	.medium img {
		height: 70%;
	}
	.small img {
		height: 70%;
	}
	.footer-flex {
		flex-wrap: nowrap;
	}
	.footer {
		width: 100% !important;
		padding-top: 10px !important;
	}
	.footer-nav section {
		margin-left: 10%;
		width: 30%;
	}
}